* {
	margin: 0;
	padding: 0;
	user-select: none;
}

body {
	width: 100vw;
	height: 100vh;
    background: url("img/background.jpg");
    background-size: cover;
}

.app {
	width: 1000px;
	margin: 0 auto;
}

.appHeader {
	text-align: center;
	padding: 30px;
    font-size: 25pt;
    color: rgb(7, 7, 54);
}

.appBody {
	margin-top: 50px;
	margin-bottom: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.fieldOfBattle {
	position: relative;
}

.fieldOfBattle-table {
	border-collapse: collapse;
	border-spacing: 0;
	background: rgba(40, 46, 250, 0.05);
}

.fieldOfBattle-item {
	position: relative;
	width: 32px;
	height: 32px;
	border: 1px solid rgb(55, 6, 122);
}

.fieldOfBattle-item__active {
	background: rgba(123, 121, 255, 0.2);
}

.marker {
	position: absolute;
	top: 0;
	left: 0;
	width: 32px;
	height: 32px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	color: rgb(38, 5, 51);
	font-size: 14pt;
}

.fieldOfBattle-status {
	text-align: center;
	padding: 20px;
}

.marker-row {
	left: -35px;
}

.marker-column {
	top: -35px;
}

.ship {
	position: absolute;
	top: 0;
	left: 0;
	margin: -3px;
	border: 3px solid rgba(3, 28, 110, 0.45);
	background: rgba(3, 28, 110, 0.45);
	width: 32px;
	height: 32px;
}

.ship-row-1 {
}

.ship-row-2 {
	width: 65px;
}

.ship-row-3 {
	width: 98px;
}

.ship-row-4 {
	width: 131px;
}

.ship-column-1 {
}

.ship-column-2 {
	height: 65px;
}

.ship-column-3 {
	height: 98px;
}

.ship-column-4 {
	height: 131px;
}

.appActions {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.appChoice {
	width: 273px;
    height: 55px;
	padding: 10px;
    font-size: 12pt;
	margin-bottom: 10px;
    background-color: rgb(46, 163, 192);
    border-radius: 17px;
}